@model IEnumerable<Assignment_ShoppipngCart.Models.Product>

@{
    ViewBag.Title = "Order";
}
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: brown;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: solid;
            }

                li a:hover {
                    background-color: navajowhite;
                }
    </style>

<ul>

    <li>@Html.ActionLink("Home", "../Home/Index")</li>
    <li>@Html.ActionLink("Order", "../Order/Order")</li>
    <li>
        @if (Session["CartCounter"] == null)
        {
            @Html.ActionLink("Cart", actionName: "Cart", routeValues: "Order", htmlAttributes: new { id = "CartItem" })

        }

        else
        {

         @Html.ActionLink("Cart(" + Session["CartCounter"]+ ")", actionName: "Cart", routeValues: "Order", htmlAttributes: new { id = "CartItem" })

        }
    </li>

    <li>@Html.ActionLink("Contact Us", "../Home/Contact")</li>

</ul>


<h2>Order</h2>
<div class="table">


    @foreach (var item in Model)
    {


        <div class="col-md-4" style="border : 2px solid">
            <div style="text-align:center; border-bottom:2px solid">
                <div>
                    @Html.DisplayNameFor(model => model.Name) :
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </div>
                <div>
                    @*@Html.DisplayNameFor(model => model.ImageFile)*@
                    <img src="~/Content/Images/Products/@item.ImageFile" />
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.ShortDescription) :
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.UnitPrice) :
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.OnHand) :
                    @Html.DisplayFor(modelItem => item.OnHand)
                </div>
                <div class="col-md-4" style="text-align:right;margin-bottom:10px;border-top:2px solid maroon;padding:2px">
                    <input type="submit" name="Add To Cart" value="Add To Cart" class="btn btn-primary" itemid="@item.ProductID" id="btnAddToCart" onclick="AddToCart(this)"/>
                </div>
            
        </div>
    }

</div>

<script type="text/javascript">

    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("itemid", itemId);

        $.ajax(
            {
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Order/Order',
                success: function (data) {
                    if (data.Success) {
                        $("#CartItem").text("Cart(" + data.Counter + ")");
                    }
                    alert("Item Added To The Cart");
                },
                error: function () {
                    alert("Problem");
                }


            });
    }
</script>
