@model IEnumerable<Assignment_LOGIN.Models.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Cart";
    decimal Totalamount = 0.0M;

    if (Session["userno"] == null)
    {
        Response.Redirect("../Home/Login");
    }

}



<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: dimgrey;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px 18px;
            text-decoration: solid;
            font-size:19px;
        }

            li a:hover {
                background-color: navajowhite;
            }

    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>

<ul>

    <li>@Html.ActionLink("Home", "../Home/Index")</li>
    <li>@Html.ActionLink("Order", "../Order/Order")</li>
    <li>
        @if (Session["CartCounter"] == null)
        {
            @Html.ActionLink("Cart", actionName: "Cart", routeValues: "Order", htmlAttributes: new { id = "CartItem" })

        }

        else
        {

            @Html.ActionLink("Cart(" + Session["CartCounter"] + ")", actionName: "Cart", routeValues: "Order", htmlAttributes: new { id = "CartItem" })

        }
    </li>

    <li>@Html.ActionLink("Contact Us", "../Home/Contact")</li>
    <li>@Html.ActionLink("Log out", "../Home/Logout")</li>
    <li style="float:right;font-size:20px;color:aliceblue;padding: 16px 18px;">@Session["username"]</li>


</ul>


<h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Shopping Cart</h2>

@{ if (Session["CartCounter"] == null)
    {
        <p style="font-size:medium">Your cart is empty.</p>
    }
    else
    {
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LongDescription)
                </th>

            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <img src="~/Content/Images/Products/@item.ImageFile" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ShortDescription
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>

                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.LongDescription
                    </td>
                </tr>
                Totalamount += item.Total;
            }
        </table>
        <div colspane="4" style="text-align:right">
            <h3>Total Amount :   @Totalamount.ToString() Dollar</h3>
        </div>

    }
}